* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*scroll no kanban*/

:root {
  font-size: 62.5%;
  --default-color: #fff;
  --bg-color: #7c3aed;
  --bg-kanban-color: #fbfaff;
  --menu-lateral-color: #cab3ff;

  --title-color: #403937;
}

body * {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  background-color: var(--bg-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#menu-lateral {
  background-color: var(--bg-color);
  height: 100vh;
  max-width: 17.5rem;
  width: 17.5rem;

  display: flex;
  flex-direction: column;
  padding: 3.2rem 2.7rem 3.2rem 3.5rem;
  gap: 6rem;
}

#menu-lateral figure img {
  width: 50px;
  height: 56px;
}

#menu-lateral nav ul {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

#menu-lateral nav ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  cursor: pointer;
}

#menu-lateral nav ul li a {
  color: var(--menu-lateral-color);
}

#menu-lateral nav ul li:nth-child(1) a {
  color: var(--default-color);
}

#menu-lateral nav ul li a:hover {
  color: var(--default-color);
}

#kanban {
  background-color: var(--bg-kanban-color);
  width: 100vw;

  border-top-left-radius: 3.2rem;
  margin-top: 0.4rem;
  padding: 3.2rem 4.8rem;
}

#kanban header {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#kanban header #titulo-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#kanban header #titulo-login div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

#kanban header #titulo-login div h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--title-color);
}

#kanban header #titulo-login div img {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

#kanban #filtro-pesquisa button {
}
