* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
1 - responsividade
2 - diminuir as description com js
3 - tirar propriedade quanto aumentar a largura pq o bagulho fica ativado
*/

:root {
  font-size: 62.5%;
  --default-color: #fff;
  --bg-color: #7c3aed;
  --bg-kanban-color: #fbfaff;
  --menu-lateral-color: #cab3ff;

  --title-color: #403937;
  --description-color: #756966;
  --description-tags: #e2d6ff;
  --placeholder-input-color: #7c7c8a;
}

body * {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#menu-lateral {
  background-color: var(--bg-color);
  height: 100vh;
  max-width: 17.5rem;
  width: 17.5rem;

  display: flex;
  flex-direction: column;
  padding: 3.2rem 2.7rem 3.2rem 3.5rem;
  gap: 6rem;
}

#menu-lateral figure img {
  width: 50px;
  height: 56px;
}

#menu-lateral nav ul {
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

#menu-lateral nav ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.6rem;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  cursor: pointer;
}

#menu-lateral nav ul li a {
  color: var(--menu-lateral-color);
}

#menu-lateral nav ul li:nth-child(1) a {
  color: var(--default-color);
}

#menu-lateral nav ul li a:hover {
  color: var(--default-color);
}

#kanban {
  background-color: var(--bg-kanban-color);
  width: 100vw;

  border-top-left-radius: 3.2rem;
  margin-top: 0.4rem;
  padding: 3.2rem 4.8rem;
}

#kanban header {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#kanban header #titulo-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#kanban header #titulo-login div {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

#kanban header #titulo-login div h1 {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--title-color);
}

#kanban header #titulo-login div img {
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

#kanban #filtro-pesquisa {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

#kanban #filtro-pesquisa button {
  display: flex;
  align-items: center;
  gap: 8px;

  background-color: var(--bg-color);
  color: var(--default-color);
  border: none;
  border-radius: 5px;
  padding: 1.2rem 3.2rem;
}

#kanban #filtro-pesquisa button span {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

#kanban #filtro-pesquisa div {
  display: flex;
  align-items: center;
  background-color: var(--default-color);
  height: 4.8rem;
  max-width: 100%;
  width: 100%;
  border-radius: 8px;
  padding: 1rem 2.4rem;
  gap: 1rem;

  border: 0.7px solid #e3e3e3;
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
}

#kanban #filtro-pesquisa input {
  width: 100%;
  height: 100%;

  outline: none;
  border: none;
}

#kanban #filtro-pesquisa input:placeholder {
  color: var(--placeholder-input-color);
}

section {
  margin-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 100%;
}

.column {
  display: grid;
  align-content: start;
  row-gap: 2.4rem;
  padding: 2.4rem;
}

.column div {
  max-width: 32rem;
  height: 15.3rem;
  border-radius: 8px;
  padding: 2.4rem;
  background-color: var(--default-color);
  box-shadow: 0px 4px 16px #eae2fd;
}

.column p {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.6rem;
  color: var(--title-color);
}

.column div h4 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.82rem;
}

.column div p {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.82rem;
  color: var(--description-color);
  margin: 1rem 0;
}

.column div span {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.43rem;
  color: var(--bg-color);
  background-color: var(--description-tags);
  border-radius: 8px;
  padding: 4px 8px;
}

#menu-lateral-responsivo {
  display: none;
}

#menu-mobile {
  margin: auto;
}

#menu-mobile nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20rem;
  height: 100%;
}

#menu-mobile nav ul {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 4rem;
}

#menu-mobile nav ul li {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: 1rem;
}

#menu-mobile nav ul li a {
  color: var(--menu-lateral-color);
}

#menu-mobile nav ul li:nth-child(1) a {
  color: var(--default-color);
}

#menu-mobile nav ul li a:hover {
  color: var(--default-color);
}

dialog::backdrop {
  background-color: rgba(0 0 0 / 0.5);
}

dialog {
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgb(0 0 0 / 0.5);
  background-color: var(--bg-color);

  width: 70%;
  height: 65%;
}

dialog a {
  color: var(--default-color);
}

#btnClose {
  position: absolute;
  bottom: 1.3rem;
  right: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  #kanban #filtro-pesquisa {
    align-items: start;
    flex-direction: column;
  }

  #kanban {
    padding: 1.6rem 2.4rem;
  }

  #kanban header #titulo-login div h1 {
    font-size: 2.6rem;
    line-height: 3rem;
  }

  #kanban header #titulo-login div {
    display: flex;
    margin-right: 2rem;
  }

  #menu-lateral {
    display: none;
  }

  #menu-lateral-responsivo {
    display: block;
    width: 100%;
    height: 7rem;
    margin-bottom: 3.2rem;
    background: var(--bg-color);
    border-radius: 10px;
  }

  #menu-lateral-responsivo div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  #menu-lateral-responsivo div figure img {
    width: 4.5rem;
  }

  #menu-lateral-responsivo div button {
    color: var(--default-color);
    background: transparent;
    border: 1px solid var(--default-color);
    border-radius: 5px;
    padding: 6px 8px;
    cursor: pointer;

    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.4rem;
    transition: background 0.2s;
  }

  #menu-lateral-responsivo div button:hover {
    background-color: #8a61fb;
  }
}

@media screen and (max-width: 760px) {
  section {
    place-items: center;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 400px) {
  .column div {
    height: auto;
  }

  .description {
    font-size: 0.8rem;
  }
}
